.panel-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 0 0 0;
}

.add-to-cart {
  cursor: pointer;
  i {
    font-size: 20px;
  }
}

.sort-btn {
  margin-bottom: 30px;
  display: inline-block;
  text-align: right;
}

.flex-row {
  display: flex;
}

.panel {
  display: flex;
  flex-direction: column;
  height: 100%;
}