<div class="container">
    <button class="btn btn-primary sort-btn" ng-click="vm.orderBy(vm.pizzas, 'name')">Order by Name</button>
    <button class="btn btn-primary sort-btn" ng-click="vm.orderBy(vm.pizzas, 'price')">Order by Price</button>
    <div class="row flex-row">
        <div class="col-lg-3" ng-repeat="pizza in vm.pizzas">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title text-capitalize">{{ pizza.name }}</h2>
                </div>
                <div class="panel-body">
                    <figure>
                        <img src="{{pizza.img}}" alt="pizza" class="img-responsive">
                        <figcaption>
                            {{ pizza.ingredients.join(', ') }}
                        </figcaption>
                    </figure>
                </div>
                <div class="panel-footer">
                    <span class="cost">{{ pizza.price | currency }}</span>
                    <button type="button"
                            class="btn btn-primary add-to-cart"
                            ng-click="vm.addToCart(pizza, pizza.id)">
                        <span>{{ pizza.status }}</span>
                        <i class="fa fa-shopping-cart"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <table-directive rows-num="20" table-id="1"></table-directive>
    <table-directive rows-num="100" table-id="2"></table-directive>
    <table-directive rows-num="10" table-id="3"></table-directive>
    <table-directive rows-num="3" table-id="4"></table-directive>
</div>
