<div class="container">
    <h3 ng-if="vm.totalPrice == 0">No items in the cart yet!</h3>
    <form ng-if="vm.totalPrice > 0">
        <table class="table table-hover">
            <caption>Order list</caption>
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Price</th>
                <th class="text-center">Remove</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="pizza in vm.pizzas">
                <td>{{ pizza.id }}</td>
                <td>{{ pizza.name }}</td>
                <td>{{ pizza.price | currency }}</td>
                <td class="text-center"><i class="fa fa-times" ng-click="vm.removeItem(pizza.id)"></i></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="2" class="text-right">Total Price:</td>
                <td>{{ vm.totalPrice | currency }}</td>
                <td></td>
            </tr>
            </tfoot>
        </table>
        <button class="btn btn-success pull-right" ng-click="vm.submitOrder()">Submit order</button>
    </form>
</div>
